GROQ_API_KEY=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

# Twilio SMS Gateway (Optional)
TWILIO_ACCOUNT_SID=
TWILIO_AUTH_TOKEN=
TWILIO_PHONE_NUMBER=

# Fast2SMS Gateway (Recommended for India)
FAST2SMS_API_KEY=
