GROQ_API_KEY=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

# Twilio SMS Gateway (Optional)
TWILIO_ACCOUNT_SID= ACebc481bbb54fdad7dc2f1f84be498e1f
TWILIO_AUTH_TOKEN= 7a2522e6b894a7a3fa3209d5c8d6f8d6
TWILIO_PHONE_NUMBER= +12762462810
